html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", "Roboto";
  font-size: 3em;
  color: #000;
  text-decoration: underline;
}

p,
a {
  font-family: "Abel", sans-serif;
  text-decoration: none;
}

header nav {
  display: flex;
  align-items: center;
  background-color: #3d5470;
  justify-content: space-between;
  padding: 12px 2% 9px 2%;
  border-bottom: 1px solid #2f2f2f;
}
header #logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
header #logo img {
  width: 60px;
  height: auto;
  transition: 1.5s;
}
header #logo img:hover {
  transform: rotateY(720deg);
  transition: 4s;
}
header #logo a {
  font-size: 2.5em;
  text-decoration: none;
  color: #fff;
  padding-left: 6%;
}
header #logo-text {
  font-family: "Bebas Neue", "Roboto";
}
header #menu {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
header #menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  transition: 250ms;
}
header #menu a:hover {
  color: #ffb853;
  transition: 250ms;
}
@media only screen and (max-width: 1367px) {
  header #menu {
    width: 42%;
  }
  header #menu a {
    font-size: 1.4em;
  }
}

footer {
  background-color: #2f2f2f;
  padding-top: 2%;
}
footer .footer-content #footer-images {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 0 1%;
}
footer .footer-content #footer-images .side-img {
  width: 26%;
  height: auto;
}
footer .footer-content #footer-images .mid-img {
  width: 39%;
  height: auto;
}
footer .footer-content #footer-images img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}
footer .footer-content #footer-info {
  padding: 1% 12.5% 1%;
  width: 75%;
  margin: 0 auto;
  display: flex;
}
footer .footer-content #footer-info ul:first-child {
  display: flex;
  justify-content: space-around;
}
footer .footer-content #footer-info img {
  width: 100%;
  height: auto;
  transition: 250ms;
}
footer .footer-content #footer-info img:hover {
  background: #e9e9e9;
  border-radius: 500px;
  transition: 250ms;
  transform: scale(1.1);
}
footer .footer-content #footer-info .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}
footer .footer-content #footer-info .info a {
  color: #fff;
  transition: 250ms;
  font-size: 1.6em;
  text-align: center;
}
footer .footer-content #footer-info .info a:hover {
  color: #ffb853;
  transition: 250ms;
}
footer .footer-content #footer-info .info .img-link {
  width: 18%;
  margin-bottom: 4%;
}
footer .footer-content #footer-info .info p {
  color: #fff;
  transition: 250ms;
  font-size: 1em;
  text-align: center;
  line-height: 30px;
}
footer .footer-content #footer-info .info p:hover {
  color: #ffb853;
  transition: 250ms;
}
footer .footer-content #footer-info .info #address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-content #some-footer-icons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1%;
  width: 10%;
  margin: 0 auto;
}
footer .footer-content #some-footer-icons a {
  width: 20%;
}
footer .footer-content #some-footer-icons img {
  width: 100%;
}
footer .footer-content #some-footer-icons img:hover {
  background: #e9e9e9;
  border-radius: 500px;
  transition: 250ms;
  transform: scale(1.1);
}
@media only screen and (max-width: 1367px) {
  footer .footer-content .info {
    width: 25% !important;
  }
  footer .footer-content .info a {
    font-size: 1.3em !important;
  }
}

#page1 {
  max-height: 100%, 100vh;
  max-width: 100%, 100vh;
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-11 20:17:31
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation fade-in
  * ----------------------------------------
  */
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-11 20:17:31
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation fade-in
  * ----------------------------------------
  */
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-11 20:17:31
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation fade-in
  * ----------------------------------------
  */
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-11 20:17:31
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation fade-in
  * ----------------------------------------
  */
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-11 20:25:53
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation slide-in-left
  * ----------------------------------------
  */
}
#page1 #skybox {
  background-color: #7b9ae9;
  z-index: 3;
}
#page1 #landing-page {
  background: rgb(76, 136, 104);
  background: linear-gradient(120deg, rgb(76, 136, 104) 0%, rgb(137, 221, 176) 100%);
  height: 93.4vh;
  max-height: 100%, 93.4vh;
  max-width: 100%, 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
#page1 #landing-page #lp-header {
  margin-top: 4%;
}
#page1 #landing-page #lp-header p {
  font-size: 3.5em;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
#page1 #landing-page #lp-header h1 {
  font-size: 7em;
  color: #3d5470;
  text-align: center;
  margin: 0;
}
#page1 #landing-page p {
  font-size: 2.5em;
  text-align: center;
  width: 50%;
  margin: 2% auto 2%;
  color: #fff;
}
#page1 #landing-page #cloud {
  position: absolute;
  top: 5%;
  left: 14%;
  width: 12%;
  z-index: 3;
}
#page1 #landing-page #tree1 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22%;
  z-index: 3;
}
#page1 #landing-page #tree2 {
  position: absolute;
  left: 5%;
  bottom: 0;
  z-index: 3;
  width: 17%;
}
#page1 #landing-page #water {
  position: absolute;
  left: -14%;
  bottom: 8%;
  width: 50%;
  z-index: 0;
  transform: rotate(-3deg);
}
#page1 #landing-page #bike {
  position: absolute;
  width: 18%;
  z-index: 1;
  bottom: 0;
  right: 19%;
}
#page1 #landing-page #lp-button {
  padding: 1.2% 3.5%;
  background-color: #ffb853;
  color: #2f2f2f;
  margin: 2% auto 0;
  z-index: 11;
  border-radius: 15px;
  font-size: 2.5em;
  transition: 250ms;
  font-family: "Bebas Neue", "Roboto";
}
#page1 #landing-page #lp-button:hover {
  color: #e9e9e9;
  transition: 250ms;
  transform: scale(1.04);
}
@media only screen and (max-width: 1367px) {
  #page1 #landing-page {
    height: 91.9vh;
    max-height: 100%, 91.9vh;
    max-width: 100%, 100vh;
  }
}
@-webkit-keyframes fade-in1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#page1 .fade-in1 {
  -webkit-animation: fade-in1 3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in1 3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}
@-webkit-keyframes fade-in2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#page1 .fade-in2 {
  -webkit-animation: fade-in2 3s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  animation: fade-in2 3s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}
@-webkit-keyframes fade-in3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#page1 .fade-in3 {
  -webkit-animation: fade-in3 3s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s both;
  animation: fade-in3 3s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s both;
}
@-webkit-keyframes fade-in4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#page1 .fade-in4 {
  -webkit-animation: fade-in4 3s cubic-bezier(0.39, 0.575, 0.565, 1) 5s both;
  animation: fade-in4 3s cubic-bezier(0.39, 0.575, 0.565, 1) 5s both;
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#page1 .slide-in-left {
  -webkit-animation: slide-in-left 2s linear 5.5s both;
  animation: slide-in-left 2s linear 5.5s both;
}

#concept-page {
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-10 22:31:2
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation fade-in
  * ----------------------------------------
  */
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-10 23:30:8
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation slide-in-left
  * ----------------------------------------
  */
}
#concept-page h1,
#concept-page h2 {
  font-size: 4em;
  color: #fff;
  padding-left: 10%;
  text-align: left;
}
#concept-page h1 {
  padding-top: 6%;
}
#concept-page h2 {
  padding-top: 2%;
}
#concept-page p {
  text-align: center;
  font-size: 1.8em;
  color: #fff;
  background: rgba(0, 0, 0, 0.45);
  margin: 8% auto;
  padding: 1.5%;
  border-radius: 15px;
}
#concept-page p:last-child {
  margin-bottom: 0;
}
#concept-page .text {
  width: 95%;
  margin: 0 auto;
}
#concept-page .text .conceptText {
  visibility: hidden;
}
#concept-page .text .conceptHeader {
  visibility: hidden;
}
#concept-page #scroll-indicator {
  position: absolute;
  top: 11%;
  right: 47.5%;
  width: 5%;
}
#concept-page #sky {
  position: relative;
  background: rgb(83, 107, 166);
  background: linear-gradient(180deg, rgb(83, 107, 166) 0%, rgb(113, 145, 222) 50%, rgb(152, 181, 255) 100%);
  padding-bottom: 45%;
}
#concept-page #sky #cloud1 {
  position: absolute;
  width: 20%;
  right: 9%;
  top: 2%;
}
#concept-page #sky #cloud2 {
  position: absolute;
  width: 18%;
  left: 4%;
  top: 8%;
}
#concept-page #sky #cloud3 {
  position: absolute;
  width: 20%;
  right: 18%;
  top: 19.5%;
}
#concept-page #sky #cloud4 {
  position: absolute;
  width: 18%;
  left: 8%;
  top: 31.2%;
}
#concept-page #sky #cloud5 {
  position: absolute;
  width: 22%;
  right: 18%;
  top: 35.2%;
}
#concept-page #sky #cloud6 {
  position: absolute;
  width: 22%;
  right: 6%;
  top: 43%;
}
#concept-page #sky #cloud7 {
  position: absolute;
  width: 20%;
  left: 2%;
  top: 46.5%;
}
#concept-page #sky #cloud8 {
  position: absolute;
  width: 20%;
  right: 8%;
  top: 59.5%;
}
#concept-page #sky #cloud9 {
  position: absolute;
  width: 20%;
  left: 15%;
  top: 66.5%;
}
#concept-page #sky #cloud10 {
  position: absolute;
  width: 20%;
  right: 12%;
  top: 79%;
}
#concept-page #ground {
  position: relative;
  background: rgb(161, 221, 166);
  background: linear-gradient(180deg, rgb(161, 221, 166) 0%, rgb(77, 147, 110) 100%);
  padding-top: 31%;
  padding-bottom: 40%;
}
#concept-page #ground h2 {
  color: #2f2f2f;
}
#concept-page #ground h2:first-child {
  padding-top: 0;
}
#concept-page #trees {
  position: relative;
  padding-top: 6%;
}
#concept-page #trees #left-tree {
  position: absolute;
  width: 25%;
  left: 0;
  margin-top: 2%;
  z-index: 1;
}
#concept-page #trees #tree1 {
  position: absolute;
  width: 45%;
  margin-top: 1%;
  left: 31%;
  z-index: 3;
}
#concept-page #trees #tree2 {
  position: absolute;
  left: 14%;
  width: 44%;
  margin-top: 2%;
  z-index: 1;
}
#concept-page #trees #tree3 {
  position: absolute;
  left: 6%;
  width: 26%;
  z-index: 2;
  margin-top: 12%;
}
#concept-page #trees #tree4 {
  position: absolute;
  width: 24%;
  margin-top: 18%;
  left: 54%;
  z-index: 1;
}
#concept-page #trees #tree5 {
  position: absolute;
  width: 44%;
  left: 54%;
  z-index: 2;
  margin-top: 6%;
}
#concept-page #trees #right-tree {
  position: absolute;
  width: 30%;
  right: 0;
  margin-top: 2%;
  z-index: 1;
}
#concept-page #bush1 {
  position: absolute;
  top: 13.5%;
  right: 18%;
  width: 8%;
}
#concept-page #ground-tree1 {
  position: absolute;
  top: 16.1%;
  width: 33%;
  left: 1%;
}
#concept-page #lake1 {
  position: absolute;
  top: 30%;
  right: 6%;
  width: 30%;
}
#concept-page #bush2 {
  position: absolute;
  top: 44%;
  left: 26%;
  width: 12%;
}
#concept-page #ground-tree2 {
  position: absolute;
  top: 47.5%;
  width: 24%;
  right: 8%;
}
#concept-page #bush3 {
  position: absolute;
  top: 60.2%;
  right: 32%;
  width: 12%;
}
#concept-page #lake2 {
  position: absolute;
  top: 69%;
  left: 4%;
  width: 44%;
}
#concept-page #ground-tree3 {
  position: absolute;
  top: 73.2%;
  width: 30%;
  right: 3%;
}
#concept-page #bike-path {
  position: absolute;
  top: 85.34%;
  z-index: 1;
}
#concept-page #ground-tree4 {
  position: absolute;
  top: 88.5%;
  width: 15%;
  left: 12%;
  z-index: 2;
}
#concept-page #bike2 {
  position: absolute;
  top: 91%;
  right: 28%;
  width: 17.5%;
  transform: rotate(9deg);
  z-index: 2;
}
#concept-page #lake-cropped {
  position: absolute;
  top: 90%;
  left: 0;
  width: 35%;
}
#concept-page .m-l-0 {
  margin-left: 0;
  margin-right: 55%;
}
#concept-page .m-l-10 {
  margin-left: 10%;
  margin-right: 45%;
}
#concept-page .m-l-20 {
  margin-left: 20%;
  margin-right: 35%;
}
#concept-page .m-l-25 {
  margin-left: 27.5%;
  margin-right: 27.5%;
}
#concept-page .m-l-30 {
  margin-left: 32%;
  margin-right: 23%;
}
#concept-page .m-l-40 {
  margin-left: 42%;
  margin-right: 13%;
}
#concept-page .m-l-50 {
  margin-left: 55%;
  margin-right: 0;
}
#concept-page .button-section {
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
}
#concept-page .button-section #benefits-btn {
  background-color: #ffb853;
  width: 12.5%;
  text-align: center;
  margin: 0 auto 2%;
  padding: 1.2% 3.5%;
  color: #2f2f2f;
  border-radius: 15px;
  font-size: 2.5em;
  transition: 250ms;
  font-family: "Bebas Neue", "Roboto";
}
#concept-page .button-section #benefits-btn:hover {
  color: #e9e9e9;
  transition: 250ms;
  transform: scale(1.04);
}
#concept-page .button-section #about-btn {
  background-color: #ffb853;
  width: 12.5%;
  text-align: center;
  margin: 0 auto;
  padding: 1.2% 3.5%;
  color: #2f2f2f;
  border-radius: 15px;
  font-size: 2.5em;
  transition: 250ms;
  z-index: 2;
  font-family: "Bebas Neue", "Roboto";
}
#concept-page .button-section #about-btn:hover {
  color: #e9e9e9;
  transition: 250ms;
  transform: scale(1.04);
}
@media only screen and (max-width: 1367px) {
  #concept-page h1,
#concept-page h2 {
    padding-left: 6%;
  }
  #concept-page #sky #cloud2 {
    top: 7.6%;
    left: 8%;
  }
  #concept-page #sky #cloud3 {
    top: 20.2%;
    right: 18%;
  }
  #concept-page #sky #cloud4 {
    top: 32%;
    left: 12%;
  }
  #concept-page #sky #cloud5 {
    top: 36.5%;
    right: 18%;
  }
  #concept-page #sky #cloud6 {
    top: 43.8%;
    right: 6%;
  }
  #concept-page #sky #cloud7 {
    top: 47.5%;
    left: 3%;
  }
  #concept-page #sky #cloud8 {
    top: 63%;
    right: 8%;
  }
  #concept-page #sky #cloud9 {
    top: 67.5%;
    left: 15%;
  }
  #concept-page #sky #cloud10 {
    top: 80.8%;
    right: 12%;
  }
  #concept-page #ground #bush1 {
    top: 12.5%;
  }
  #concept-page #ground #ground-tree1 {
    top: 16.4%;
  }
  #concept-page #ground #lake1 {
    top: 30.8%;
  }
  #concept-page #ground #ground-tree2 {
    top: 50.5%;
    right: 5%;
  }
  #concept-page #ground #bush3 {
    top: 61%;
  }
  #concept-page #ground #lake2 {
    top: 70.2%;
  }
  #concept-page #ground #ground-tree3 {
    top: 74.8%;
    right: 4%;
  }
  #concept-page #ground #bike2 {
    top: 92%;
  }
  #concept-page #ground #bike-path {
    max-width: 100%;
    top: 87.29%;
  }
  #concept-page #ground #lake-cropped {
    top: 91%;
  }
  #concept-page #ground #ground-tree4 {
    top: 89.5%;
  }
  #concept-page #ground .button-section #benefits-btn {
    width: 20% !important;
  }
  #concept-page #ground .button-section #about-btn {
    width: 20%;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#concept-page .fade-in {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#concept-page .slide-in-left {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#concept-page #scroll-indicator {
  -webkit-animation: fadeinout 3s linear 2s both;
  animation: fadeinout 3s linear 2s both;
  opacity: 0;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}
@-webkit-keyframes fadeinout {
  50% {
    opacity: 1;
  }
}
@keyframes fadeinout {
  50% {
    opacity: 1;
  }
}

#benefits {
  position: relative;
  padding-top: 4%;
  padding-bottom: 4%;
  background: rgb(37, 51, 68);
  background: linear-gradient(180deg, rgb(37, 51, 68) 0%, rgb(61, 84, 112) 100%);
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-11 16:2:6
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation slide-in-left
  * ----------------------------------------
  */
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-11 16:19:3
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation slide-in-right
  * ----------------------------------------
  */
}
#benefits h1,
#benefits p {
  color: #fff;
}
#benefits p {
  font-size: 2.5em;
  max-width: 42%;
  text-align: left;
  line-height: 1.15em;
}
#benefits a,
#benefits span {
  font-family: "Bebas Neue", "Roboto";
  color: #ffb853;
  font-size: 1em;
  line-height: 1.15em;
}
#benefits h1 {
  text-align: center;
  margin-bottom: 4%;
  font-size: 4em;
}
#benefits .benefits-box {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5%;
}
#benefits .benefits-box img {
  width: 30%;
  border-radius: 15px;
}
#benefits #benefits-bike-logo {
  position: absolute;
  top: 95.85%;
  right: 10%;
  width: 15%;
}
#benefits .button-section {
  display: flex;
}
#benefits .button-section #benefits-btn {
  background-color: #ffb853;
  text-align: center;
  padding: 1.2% 3.5%;
  color: #2f2f2f;
  border-radius: 15px;
  font-size: 2.5em;
  transition: 250ms;
  margin: 0 auto;
}
#benefits .button-section #benefits-btn:hover {
  color: #e9e9e9;
  transition: 250ms;
  transform: scale(1.04);
}
#benefits .leftObject {
  visibility: hidden;
}
#benefits .rightObject {
  visibility: hidden;
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#benefits .slide-in-left {
  -webkit-animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#benefits .slide-in-right {
  -webkit-animation: slide-in-right 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media only screen and (max-width: 1367px) {
  #benefits .fordele-boks {
    width: 95%;
  }
  #benefits .fordele-boks p {
    font-size: 2em;
    max-width: 45%;
  }
  #benefits .fordele-boks a,
#benefits .fordele-boks span {
    font-size: 1em;
  }
  #benefits #benefits-bike-logo {
    position: absolute;
    top: 95.85%;
  }
}

#about {
  position: relative;
  padding-top: 4%;
  padding-bottom: 4%;
  background: rgb(47, 85, 65);
  background: linear-gradient(180deg, rgb(47, 85, 65) 0%, rgb(87, 157, 120) 100%);
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-11 16:2:6
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation slide-in-left
  * ----------------------------------------
  */
  /* ----------------------------------------------
  * Generated by Animista on 2022-12-11 16:19:3
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation slide-in-right
  * ----------------------------------------
  */
}
#about h1,
#about p {
  color: #fff;
}
#about p {
  font-size: 2.5em;
  text-align: left;
  line-height: 1.15em;
}
#about a,
#about span {
  font-family: "Bebas Neue", "Roboto";
  color: #ffb853;
  font-size: 1em;
  line-height: 1.15em;
}
#about h1 {
  text-align: center;
  margin-bottom: 4%;
  font-size: 4em;
}
#about #about-text {
  margin: 0 auto;
}
#about .about-box {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about .about-box p {
  max-width: 60%;
}
#about .about-box img {
  max-width: 35%;
  border-radius: 15px;
}
#about .button-section {
  display: flex;
}
#about .button-section #about-btn {
  background-color: #ffb853;
  text-align: center;
  padding: 1.2% 3.5%;
  color: #2f2f2f;
  border-radius: 15px;
  font-size: 2.5em;
  transition: 250ms;
  margin: 0 auto;
}
#about .button-section #about-btn:hover {
  color: #e9e9e9;
  transition: 250ms;
  transform: scale(1.04);
}
#about .leftObject {
  visibility: hidden;
}
#about .rightObject {
  visibility: hidden;
}
#about #about-some-buttons {
  margin-top: 2%;
}
#about #about-some-buttons p {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5%;
  color: #fff;
}
#about #about-bike-logo {
  position: absolute;
  top: 92.3%;
  left: 9%;
  width: 15%;
}
#about #some-icons {
  display: flex;
  justify-content: space-evenly;
  width: 12.5%;
  margin: 0 auto;
}
#about #some-icons a {
  width: 30%;
}
#about #some-icons img {
  width: 100%;
}
#about #some-icons img:hover {
  background: #e9e9e9;
  border-radius: 500px;
  transition: 250ms;
  transform: scale(1.1);
}
@media only screen and (max-width: 1367px) {
  #about .about-box {
    width: 85%;
    justify-content: space-evenly;
  }
  #about .about-box p {
    font-size: 2em;
    max-width: 45%;
  }
  #about .about-box a,
#about .about-box span {
    font-size: 1em;
  }
  #about #about-bike-logo {
    position: absolute;
    top: 92.8%;
    left: 9%;
    width: 15%;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#about .slide-in-left {
  -webkit-animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#about .slide-in-right {
  -webkit-animation: slide-in-right 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}/*# sourceMappingURL=style.css.map */