header {
  nav {
    display: flex;
    align-items: center;
    background-color: $darkblue;
    justify-content: space-between;
    padding: 12px 2% 9px 2%;
    border-bottom: 1px solid $darkgray;
  }

  #logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    img {
      width: 60px;
      height: auto;
      transition: 1.5s;

      &:hover {
        transform: rotateY(720deg);
        transition: 4s;
      }
    }

    a {
      font-size: 2.5em;
      text-decoration: none;
      color: $white;
      padding-left: 6%;
    }
  }

  #logo-text {
    font-family: "Bebas Neue", "Roboto";
  }

  #menu {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: space-between;

    a {
      color: $white;
      text-decoration: none;
      font-size: 1.5em;
      transition: 250ms;

      &:hover {
        color: $orange;
        transition: 250ms;
      }
    }
  }

  @media only screen and (max-width: 1367px) {
    #menu {
      width: 42%;

      a {
        font-size: 1.4em;
      }
    }
  }
}
