#concept-page {
  h1,
  h2 {
    font-size: 4em;
    color: $white;
    padding-left: 10%;
    text-align: left;
  }

  h1 {
    padding-top: 6%;
  }

  h2 {
    padding-top: 2%;
  }

  p {
    text-align: center;
    font-size: 1.8em;
    color: $white;
    background: $transparent;
    margin: 8% auto;
    padding: 1.5%;
    border-radius: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .text {
    width: 95%;
    margin: 0 auto;

    .conceptText {
      visibility: hidden;
    }

    .conceptHeader {
      visibility: hidden;
    }
  }

  #scroll-indicator {
    position: absolute;
    top: 11%;
    right: 47.5%;
    width: 5%;
  }

  #sky {
    position: relative;
    background: rgb(83, 107, 166);
    background: linear-gradient(
      180deg,
      rgba(83, 107, 166, 1) 0%,
      rgba(113, 145, 222, 1) 50%,
      rgba(152, 181, 255, 1) 100%
    );
    padding-bottom: 45%;

    #cloud1 {
      position: absolute;
      width: 20%;
      right: 9%;
      top: 2%;
    }

    #cloud2 {
      position: absolute;
      width: 18%;
      left: 4%;
      top: 8%;
    }

    #cloud3 {
      position: absolute;
      width: 20%;
      right: 18%;
      top: 19.5%;
    }

    #cloud4 {
      position: absolute;
      width: 18%;
      left: 8%;
      top: 31.2%;
    }

    #cloud5 {
      position: absolute;
      width: 22%;
      right: 18%;
      top: 35.2%;
    }

    #cloud6 {
      position: absolute;
      width: 22%;
      right: 6%;
      top: 43%;
    }

    #cloud7 {
      position: absolute;
      width: 20%;
      left: 2%;
      top: 46.5%;
    }

    #cloud8 {
      position: absolute;
      width: 20%;
      right: 8%;
      top: 59.5%;
    }

    #cloud9 {
      position: absolute;
      width: 20%;
      left: 15%;
      top: 66.5%;
    }

    #cloud10 {
      position: absolute;
      width: 20%;
      right: 12%;
      top: 79%;
    }
  }

  #ground {
    position: relative;
    background: rgb(161, 221, 166);
    background: linear-gradient(
      180deg,
      rgba(161, 221, 166, 1) 0%,
      rgba(77, 147, 110, 1) 100%
    );
    padding-top: 31%;
    padding-bottom: 40%;

    h2 {
      color: $darkgray;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  #trees {
    position: relative;
    padding-top: 6%;

    #left-tree {
      position: absolute;
      width: 25%;
      left: 0;
      margin-top: 2%;
      z-index: 1;
    }

    #tree1 {
      position: absolute;
      width: 45%;
      margin-top: 1%;
      left: 31%;
      z-index: 3;
    }

    #tree2 {
      position: absolute;
      left: 14%;
      width: 44%;
      margin-top: 2%;
      z-index: 1;
    }

    #tree3 {
      position: absolute;
      left: 6%;
      width: 26%;
      z-index: 2;
      margin-top: 12%;
    }

    #tree4 {
      position: absolute;
      width: 24%;
      margin-top: 18%;
      left: 54%;
      z-index: 1;
    }

    #tree5 {
      position: absolute;
      width: 44%;
      left: 54%;
      z-index: 2;
      margin-top: 6%;
    }

    #right-tree {
      position: absolute;
      width: 30%;
      right: 0;
      margin-top: 2%;
      z-index: 1;
    }
  }

  #bush1 {
    position: absolute;
    top: 13.5%;
    right: 18%;
    width: 8%;
  }

  #ground-tree1 {
    position: absolute;
    top: 16.1%;
    width: 33%;
    left: 1%;
  }

  #lake1 {
    position: absolute;
    top: 30%;
    right: 6%;
    width: 30%;
  }

  #bush2 {
    position: absolute;
    top: 44%;
    left: 26%;
    width: 12%;
  }

  #ground-tree2 {
    position: absolute;
    top: 47.5%;
    width: 24%;
    right: 8%;
  }

  #bush3 {
    position: absolute;
    top: 60.2%;
    right: 32%;
    width: 12%;
  }

  #lake2 {
    position: absolute;
    top: 69%;
    left: 4%;
    width: 44%;
  }

  #ground-tree3 {
    position: absolute;
    top: 73.2%;
    width: 30%;
    right: 3%;
  }

  #bike-path {
    position: absolute;
    top: 85.34%;
    z-index: 1;
  }

  #ground-tree4 {
    position: absolute;
    top: 88.5%;
    width: 15%;
    left: 12%;
    z-index: 2;
  }

  #bike2 {
    position: absolute;
    top: 91%;
    right: 28%;
    width: 17.5%;
    transform: rotate(9deg);
    z-index: 2;
  }

  #lake-cropped {
    position: absolute;
    top: 90%;
    left: 0;
    width: 35%;
  }

  .m-l-0 {
    margin-left: 0;
    margin-right: 55%;
  }

  .m-l-10 {
    margin-left: 10%;
    margin-right: 45%;
  }

  .m-l-20 {
    margin-left: 20%;
    margin-right: 35%;
  }

  .m-l-25 {
    margin-left: 27.5%;
    margin-right: 27.5%;
  }

  .m-l-30 {
    margin-left: 32%;
    margin-right: 23%;
  }

  .m-l-40 {
    margin-left: 42%;
    margin-right: 13%;
  }

  .m-l-50 {
    margin-left: 55%;
    margin-right: 0;
  }

  .button-section {
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4;

    #benefits-btn {
      background-color: $orange;
      width: 12.5%;
      text-align: center;
      margin: 0 auto 2%;
      padding: 1.2% 3.5%;
      color: $darkgray;
      border-radius: 15px;
      font-size: 2.5em;
      transition: 250ms;
      font-family: "Bebas Neue", "Roboto";

      &:hover {
        color: $lightgray;
        transition: 250ms;
        transform: scale(1.04);
      }
    }

    #about-btn {
      background-color: $orange;
      width: 12.5%;
      text-align: center;
      margin: 0 auto;
      padding: 1.2% 3.5%;
      color: $darkgray;
      border-radius: 15px;
      font-size: 2.5em;
      transition: 250ms;
      z-index: 2;
      font-family: "Bebas Neue", "Roboto";

      &:hover {
        color: $lightgray;
        transition: 250ms;
        transform: scale(1.04);
      }
    }
  }

  @media only screen and (max-width: 1367px) {
    h1,
    h2 {
      padding-left: 6%;
    }

    #sky {
      #cloud2 {
        top: 7.6%;
        left: 8%;
      }

      #cloud3 {
        top: 20.2%;
        right: 18%;
      }

      #cloud4 {
        top: 32%;
        left: 12%;
      }

      #cloud5 {
        top: 36.5%;
        right: 18%;
      }

      #cloud6 {
        top: 43.8%;
        right: 6%;
      }

      #cloud7 {
        top: 47.5%;
        left: 3%;
      }

      #cloud8 {
        top: 63%;
        right: 8%;
      }

      #cloud9 {
        top: 67.5%;
        left: 15%;
      }

      #cloud10 {
        top: 80.8%;
        right: 12%;
      }
    }

    #ground {
      #bush1 {
        top: 12.5%;
      }

      #ground-tree1 {
        top: 16.4%;
      }

      #lake1 {
        top: 30.8%;
      }

      #ground-tree2 {
        top: 50.5%;
        right: 5%;
      }

      #bush3 {
        top: 61%;
      }

      #lake2 {
        top: 70.2%;
      }

      #ground-tree3 {
        top: 74.8%;
        right: 4%;
      }

      #bike2 {
        top: 92%;
      }

      #bike-path {
        max-width: 100%;
        top: 87.29%;
      }

      #lake-cropped {
        top: 91%;
      }

      #ground-tree4 {
        top: 89.5%;
      }

      .button-section {
        #benefits-btn {
          width: 20% !important;
        }

        #about-btn {
          width: 20%;
        }
      }
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2022-12-10 22:31:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2022-12-10 23:30:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in-left {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  #scroll-indicator {
    -webkit-animation: fadeinout 3s linear 2s both;
    animation: fadeinout 3s linear 2s both;
    opacity: 0;
    animation-iteration-count: 2;
  }

  @-webkit-keyframes fadeinout {
    50% {
      opacity: 1;
    }
  }

  @keyframes fadeinout {
    50% {
      opacity: 1;
    }
  }
}
